@import "tailwindcss";
@theme {
  --color-primary: #e8306e;
  --color-secondary: #f7ebef;
  --color-third: #efc2d1;
  --font-noto: "Noto Sans TC", sans-serif;
  --font-serif: "Noto serif TC", sans-serif;
  --font-chiron: "Chiron GoRound TC", sans-serif;
  --breakpoint-max-md: 767px;
  --breakpoint-max-sm: 639px;
}
@layer base {
  html {
    font-family: var(--font-noto);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
